# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


# VS Code
.vscode/

# PyCharm
.idea/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Alembic
migrations/versions/*.pyc
migrations/versions/__pycache__/

# Docker
*.log
*.pid

# MyPy
.mypy_cache/

# macOS / Linux
.DS_Store
Thumbs.db
